body {
  background-color: #bbd0ff;
}
.container {
  width: 550px;
  height: 500px;
  background-color: #b8c0ff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  border-radius: 30px;
}
h1 {
  font-family: cursive;
  text-align: center;
  color: white;
  padding-top: 20px;
  font-size: 35px;
}
.score-wrap {
  display: flex;
  font-family: cursive;
  color: white;
  justify-content: space-around;
}
span {
  color: #f72585;
}
.play-buttons {
  display: block;
  text-align: center;
  padding: 20px;
}
button {
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  margin: 10px;
  font-family: cursive;
  font-size: 20px;
  color: #f72585;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: #f72585;
  color: white;
}
.pink {
  color: #f72585;
}
#result-text {
  color: #f72585;
  font-family: cursive;
}
