body {
  background-color: #bbd0ff;
}
.container {
  width: 600px;
  height: 600px;
  background-color: #b8c0ff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  border-radius: 30px;
}
h1 {
  font-family: cursive;
  text-align: center;
  color: white;
  padding-top: 20px;
  font-size: 35px;
}
